<div>
    <!-- JQUERY JS -->
    <script src="/assets/js/jquery.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- SPARKLINE JS-->
    <script src="../assets/js/jquery.sparkline.min.js"></script>
    <!-- Select2 js-->
    <script src="../assets/plugins/select2/select2.full.min.js"></script>
    <!-- SIDE-MENU JS -->
     
    <script src="/assets/plugins/sidemenu/sidemenu.js"></script>

    <!-- SIDEBAR JS -->
    <script src="/assets/plugins/sidebar/sidebar.js"></script>

    <!-- Perfect SCROLLBAR JS-->
   <!--  <script src="/assets/plugins/p-scroll/perfect-scrollbar.js"></script>
    <script src="/assets/plugins/p-scroll/pscroll.js"></script>
    <script src="/assets/plugins/p-scroll/pscroll-1.js"></script> -->

    <!-- Color Theme js -->
    <script src="/assets/js/themeColors.js"></script>

    <!-- Sticky js -->
    <script src="/assets/js/sticky.js"></script>

   
    <!-- INTERNAL Edit-Table JS -->
    <script src="../assets/plugins/edit-table/bst-edittable.js"></script>
    <script src="../assets/plugins/edit-table/edit-table.js"></script>


    <!-- BACK-TO-TOP -->
    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- <script src="../assets/plugins/sidemenu/sidemenu.js"></script> -->


    



  

    <!-- CUSTOM JS -->
    <script src="../assets/js/custom.js"></script>

</div>